
<div>
    <a href={{ path('index') }}>
        <img class="businessLogo" src="https://www.pngix.com/pngfile/big/146-1467181_php-logo-png-symfony2-logo-transparent-png.png">
    </a>

<div class="float-right">
    <a href="{{ path('index') }}"><button type="button" class="btn btn-primary btn-lg">Last</button></a>
    <a href="{{ path('allPostsRandom') }}"><button type="button" class="btn btn-primary btn-lg">Random</button></a>

    {% if app.user.username is defined %}
        <a href="{{ path('allFollowedUsersPost') }}"><button type="button" class="btn btn-primary btn-lg">Followed users</button></a>
    {% endif %}

    <a href=""><button type="button" class="btn btn-primary btn-lg">Best</button></a>
    <a href="{{ path('publish') }}"><button type="button" class="btn btn-secondary btn-lg">Publish</button></a>
</div>
</div>